.aside {
  position: relative;
  float: left;
  width: 195px;
  top: 0px;
  bottom: 0px;
  background-color: #ebddca;
}

.is-card-dark {
  background: rgb(32, 42, 59) !important;
}

.dashboard_background {
  background: #17202e!important;
}

.is-light-text {
  color: rgb(255, 255, 255);
}

.is-card-dark {
  background: rgb(32, 42, 59) !important;
}

.card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  min-height: 30px;
}

.letter-spacing {
  letter-spacing: 0.05rem;
}

.text-small {
  font-size: 0.875rem;
}

.is-dark-text-light {
  color: rgb(128, 145, 171);
}

.grid-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.5rem;
  height: calc(100%);
}

.chart-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.5rem 1.5rem .75rem 1.5rem;
  height: calc(100%);
}
